#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

canvas{
    display: block;
    float: left;
    margin: 2px 2px 2px 2px;
}

canvas:focus{
    box-shadow: 0 0 5px 5px gold;
}
